.example-spacer {
  flex: 5;
}

.small-title {
  display: none;
}

.big-title {
  display: inline;
}

.and-title {
  color: rgba(236, 203, 16, 0.753);
  font-size: 1.4em;
}

.links a {
  margin-right: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.links a mat-icon {
  color: rgba(236, 203, 16, 0.753);
}


@media (max-width: 576px) {
  .big-title {
    display: none;
  }

  .small-title {
    display: inline;
  }
}
