<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="big-title">The Rick <span class="and-title">&</span> Morty App</span>
    <span class="small-title">The R<span class="and-title">&</span>M App</span>

    <span class="example-spacer"></span>
    <div class="links">
      <a>
        Characters
        <mat-icon>person</mat-icon>
      </a>
      <a>
        Episodes
        <mat-icon>play_circle</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</p>
