<p>
  <mat-toolbar color="primary">
    <span class="big-screen">The Rick <span class="and-title">&</span> Morty App</span>
    <span class="small-screen">The R<span class="and-title">&</span>M App</span>

    <span class="spacer"></span>
    <div>
      <button class="small-screen" mat-icon-button [matMenuTriggerFor]="menuOptions" aria-label="menu button">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu class="small-screen" #menuOptions="matMenu">
        <a class="links-small" routerLink="/home">
          Characters
          <mat-icon>person</mat-icon>
        </a>
        <a class="links-small" routerLink="/episodes">
          Episodes
          <mat-icon>play_circle</mat-icon>
        </a>
        <a class="links-small" routerLink="/info">
          Info
          <mat-icon>info</mat-icon>
        </a>
      </mat-menu>
      <a class="big-screen links" routerLink="/home">
        Characters
        <mat-icon>person</mat-icon>
      </a>
      <a class="big-screen links" routerLink="/episodes">
        Episodes
        <mat-icon>play_circle</mat-icon>
      </a>
      <a class="big-screen links" routerLink="/info">
        Information
        <mat-icon>info</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</p>
