<header>
  <h1>
    Rick and Morty
  </h1>
  <h4>
    Info
  </h4>
</header>

<section>
  <mat-card>
    Rick and Morty is an American adult animated science fiction sitcom created by Justin Roiland and Dan Harmon for
    Cartoon Network's nighttime programming block Adult Swim.
    <img src="../../assets/ric-mor.png" alt="Rick and Morty">
  </mat-card>
</section>


<footer>
  <p>
    Check out <a href="https://rickandmortyapi.com/">The Rick and Morty API</a>
    by <a href="https://github.com/afuh">Axel Fuhrmann</a>
  </p>
  <p>
    Take a look at some of my other <a href="https://github.com/mike2611">projects</a>
  </p>
</footer>
