<mat-card class="card-character" *ngIf="episode">
  <mat-card-title class="header-container">
    <h1>{{episode.name}}</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span>Episode:&nbsp;</span> {{episode.episode}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Episode number:&nbsp;</span> {{episode.id}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Air date:&nbsp;</span> {{episode.air_date}}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
