.card-character {
  max-width: 350px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

mat-card-title {
  text-align: center;
}

h1 {
  color: #3f51b5;
  font-weight: 450;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

li span {
  color: #3f51b5;
}
