.example-card {
  max-width: 350px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.header-container {
  background-color: transparent !important;
}

h1 {
  color: #3f51b5;
}

img {
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  background-color: transparent !important;
}

button {
  width: 95%;
  height: 45px;
  border-radius: 0 0 10px 10px;
}
